body {
  background: url('bg0.png') repeat;
  color: #fefefe;
}

.bg-box {
  background-color: #fefefe;
  border-radius: 3px;
}

section {
  padding-top: 3em;
}

.screen {
  -webkit-box-shadow: 0 0 20px 3px #000000;
  box-shadow: 0 0 20px 3px #000000;
}


footer {
  margin-top: 3em;
  text-align: center;
}
